extends ../layouts/common.pug
block content
  h1 Create user
  if errors
    each error in errors
      .alert.alert-danger(role='alert')
        span= error

  form(action="/users/create", method="POST")
    .form-group
      label Name
      input.form-control(type="text", name="name", value=values? values.name : "")
    .form-group
      label Phone
      input.form-control(type="text", name="phone", value=values? values.phone : "")  
    button.btn.btn-primary Create