extends ../layouts/common.pug
block content
    h1 
        span Products
    
    nav(aria-label='Page navigation example')
        ul.pagination
            if currentPage > 1
                li.page-item
                    a.page-link(href='/products?page='+ (currentPage-1), aria-label='Previous')
                        span(aria-hidden='true') &laquo;
            li.page-item
                a.page-link(href='/products?page='+ (currentPage-1))= currentPage-1
            li.page-item.active
                a.page-link(href='/products?page=' + currentPage)= currentPage
            li.page-item
                a.page-link(href='/products?page='+ (currentPage+1))= currentPage+1 
            if currentPage < numberPages -1
                li.page-item
                    a.page-link(href='/products?page='+ (currentPage+1), aria-label='Next')
                        span(aria-hidden='true') &raquo;
    if products
        .row
            each product in products
                .col-sm-6.col-md-3
                    .card
                        img.card-img-top(src=product.image)
                        .card-body
                            h5.card-title= product.name
                            p.card-text= product.description
                            a.btn.btn-primary(href='#') Add to cart